ody {
    /* background: linear-gradient(white,#71ef66,#98ee63,#88ef5f); */
    background-color: rgb(255, 255, 255);
}

.logo1 {
    position: absolute;
    width: 400px;
    height: 150px;
    left: 470px;
    top: 10px;
    border-color: #000;
    display: flex;
}

.head {

    --s: 0.1em;
    /* the thickness of the line */
    --c: #070469;
    /* the color */

    color: #0000;
    padding-bottom: var(--s);
    background:
        linear-gradient(90deg, var(--c) 50%, #000 0) calc(100% - var(--_p, 0%))/200% 100%,
        linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) var(--s) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.5s;
}

.head:hover {
    --_p: 100%
}

.head {
    position: absolute;
    align-items: center;
    top: 150px;
    left: 350px;
    display: flex;
    width: 648px;
    height: 46px;
    flex-direction: column;
    flex-shrink: 0;
    color: #000;
    font-size: 32px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info1 {
    position: absolute;
    display: flex;
    left: 730px;
    top: 220px;
    width: 720px;
    height: 275px;
    flex-direction: column;
    flex-shrink: 0;
    color: #000;
    text-align: justify;
    font-size: 1.1em;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;

}

.rating {
    display: flex;
    position: absolute;
    width: 593px;
    height: 30px;
    left: 54px;
    top: 800px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 29px;
    color: #000000;

}

.Camp {
    display: flex;
    position: absolute;
    width: 593px;
    height: 30px;
    left: 54px;
    top: 870px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 29px;
    color: #000000;
    filter: drop-shadow(
            /* Black shadow with 10px blur */
            16px 16px 10px black);
}

.place {
    display: flex;
    position: absolute;
    width: 593px;
    height: 30px;
    left: 54px;
    top: 940px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 29px;
    filter: drop-shadow(
            /* Black shadow with 10px blur */
            16px 16px 10px black);
    color: #000000;

}

.fests {
    display: flex;
    position: absolute;
    width: 593px;
    height: 30px;
    left: 54px;
    top: 1010px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 29px;
    filter: drop-shadow(
            /* Black shadow with 10px blur */
            16px 16px 10px black);
    color: #000000;
}

.sports {
    display: flex;
    position: absolute;
    width: 593px;
    height: 30px;
    left: 54px;
    top: 1080px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 29px;
    filter: drop-shadow(
            /* Black shadow with 10px blur */
            16px 16px 10px black);
    color: #000000;
}

.link1:hover {
    color: rgb(19, 65, 181);
    text-decoration: none;

}

.video {
    display: flex;
    position: absolute;
    top: 300px;
    left: 100px;
}

.rectangle1 {
    display: flex;
    position: absolute;
    top: 180px;
    left: 1100px;
    width: 190px;
    height: 192px;
    transform: rotate(44.587deg);
    flex-shrink: 0;
    border-radius: 34px;
    
    background: #7872ef;
    z-index: -1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.rectangle2 {
    display: flex;
    position: absolute;
    top: 640px;
    left: 1150px;
    width: 190px;
    height: 192px;
    transform: rotate(44.587deg);
    flex-shrink: 0;
    border-radius: 34px;
    
    background: #f0f05f;
    z-index: -1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.rectangle3 {
    display: flex;
    position: absolute;
    left: 850px;
    top: 400px;
    width: 190px;
    height: 192px;
    transform: rotate(44.587deg);
    flex-shrink: 0;
    border-radius: 34px;
    
    background: #59e669;
    z-index: -1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.pic1 {
    display: flex;
    position:absolute;
    top: 2150px;
    left: 700px;
    width: 780px;
    height: 300px;
}

.pic2 {
    display: flex;
    position:absolute;
    top: 2150px;
    left: 80px;
    width: 600px;
    height: 300px;
}
.pic3
{
    display: flex;
    position: absolute;
    top: 850px;
    width: 700px;
    height: 230px;
    left: 700px;
}

.pic5
{
    position: absolute;
    display: flex;
    top: 1560px;
    left: 30px;
    height: 400px;
    width:800px;

}
.pic4
{
    position: absolute;
    display: flex;
    top: 1560px;
    left: 870px;
}

.name
{
    position: absolute;
    display: flex;
    top: 1500px;
    left:890px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
}
.name1
{
    position: absolute;
    display: flexbox;
    top: 1500px;
    left:30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
}
.name2
{
    position: absolute;
    display: flex;
    top: 800px;
    left: 700px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
}
.college
  {
    display: flex;
    position: absolute;
    top: 45px;
    right: 60px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 2px;
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: underline;
}