.st
{
    width: 100%;
    height: 900px;
    filter: opacity(20%);
    display: flex;
}
.info4
{
    position: absolute;
  top: 150px;
  left: 200px;
  
  width: 771px;
  
  flex-direction: column;
  flex-shrink: 0;
  color: #554F4F;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: normal;
  z-index: 2;
  display: flex;
}
.civ
{
    display: flex;
    position: absolute;
    top: 50px;
    color: #4892f2;
    position: absolute;
    left: 110px;
    font-size: 36px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;;
}
.p1
{
    display: flex;
    position: absolute;
    top: 50px;
    left: 190px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;;
    font-size: 36px;
}
.sq1 {
    position: absolute;
    top: 200px;
    left: 100px;
    z-index: 1;
    width: 223px;
    height: 228px;
    transform: rotate(45.323deg);
    flex-shrink: 0;
    border-radius: 60px;
    background: #ebef7d;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
  
  }
  
  .sq2 {
    width: 234px;
    height: 231px;
    position: absolute;
    top:400px;
    left: 150px;
  
    transform: rotate(-44.437deg);
    flex-shrink: 0;
    border-radius: 63px;
    background: #4f9def;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
  
  }
  .sq3 {
    position: absolute;
    top: 580px;
    left: 100px;
    width: 223.315px;
    height: 225.303px;
    transform: rotate(42.429deg);
    flex-shrink: 0;
    background: #a2eb6f;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 63px;
    display: flex;
  }
  .bt1
  {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 150px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 42px;
  background: #8E4494;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  text-decoration: none;
  
  }
  .college
  {
    display: flex;
    position: absolute;
    top: 45px;
    right: 60px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 2px;
    color: #fffafa;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  }
  .college:hover
  {
    color:black
  }
  .civ
{
    display: flex;
    position: absolute;
    top: 50px;
    color: #4892f2;
    position: absolute;
    left: 110px;
    font-size: 36px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;;
}
.p1
{
    display: flex;
    position: absolute;
    top: 50px;
    left: 190px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;;
    font-size: 36px;
}